
.no-padding{
  margin: 0;
  padding:0;
}

div .row .marge{

}
.form-control{
  width: 70%;
}

div> .row.taille{
  padding-top: 2em;
  height:4em;
}

#borderspecial{
border: 2px solid #B0EC99;
border-radius: 5px;

}

.commentaires{
  text-align: center;

}
