*{
  padding: 0;
  margin: 0;
}

.imagehomepage{
  width: 100%;
}


#form6 {
  width: 400px;
  background-color: #F7F7F7;
  padding-bottom: 40px;
  margin: 1em auto;
  border-radius: 5px;
}

#form6 * {
  display: block;
}

#form6 label {
  font-size: 24px;
  background-color: #43D1AF;
  text-align: center;
  padding: 20px 0;
  color: #FFF;
  border-radius: 5px 5px 0 0;
}

#form6 input {
  margin: auto;
  width: 360px;
  height: 35px;
  margin: 10px 20px;
  padding: 5px;
  border: solid 1px #CCC;
}

#form6 textarea {
  margin: auto;
  width: 360px;
  margin: 10px 20px;
  padding: 5px;
  border: solid 1px #CCC;
}

#form6 .button {
  width: 360px;
  background-color: #43D1AF;
  color: #FFF;
  border: solid 1px #30C29E;
  border-bottom: solid 2px #30C29E;
  padding: 10px;
}
.apropos{
margin: auto;
text-align: center;
}
.navbar-default{
  margin-bottom: 0;
}
